// STYLING FOR NODE--THE-LADIES.TPL.PHP
// =============================================================================

.the-ladies-article{
  .left{
    float: left;
    width: 30%;
    .related-posts{
      h3{

      }
    }
  }
  .right{
    float: right;
    width: 70%;
    h2{

    }
    .article-image{

    }
    .article-body{

    }
    .social-links{
      h2{

      }
    }
  }
}
