// STYLING FOR NODE--THE-LADIES.TPL.PHP
// =============================================================================

.the-ladies-article{
  .left{
    float: left;
    width: 30%;
    .related-posts{
      padding-left: 30px;
      h2{
        font-family: $paragraphs;
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  .right{
    float: right;
    width: 70%;
    h2{
      font-family: $paragraphs;
      font-size: 30px;
      font-weight: 400;
    }
    .article-image{

    }
    .article-body{
      font-weight: 100;
      font-family: $paragraphs;
      font-size: 18px;
      color: $thelady_menu_item_color;
      line-height: 1.35em;
      padding-top: 10px;
      text-align: justify;
      padding-right: 80px;
    }
    .social-links{
      h2{
        font-family: $paragraphs;
        font-size: 30px;
        font-weight: 500;
      }
      ul{
        li{
          a{
            &:hover{

            }
          }
        }
      }
    }
  }
}
