/*Set container height/width to 100%*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
html, body {
  width: 100%;
  height: 100%;
  background-color: #0EB2B8; }

.the-lady-main-div {
  margin: 40px auto;
  max-width: 1280px;
  background: #fff;
  box-shadow: black 0px 0px 30px; }

/* @font-face or @import fonts here */
/* The story behind - The Lady */
.the-story {
  padding-bottom: 60px; }
  .the-story .field-name-field-basic-image {
    float: left;
    width: 40%;
    margin-left: 100px;
    padding: 65px 0 0 0; }
    .the-story .field-name-field-basic-image img {
      border-radius: 100%;
      box-shadow: #666666 0px 0px 15px; }
  .the-story .field-name-body {
    float: right;
    width: 60%;
    font-weight: 100;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin-left: 430px;
    position: absolute;
    color: #58585A;
    line-height: 1.35em; }
    .the-story .field-name-body h2 {
      margin-left: -5px; }
    .the-story .field-name-body a {
      text-decoration: none;
      color: #58585A; }
      .the-story .field-name-body a:hover {
        color: #0DAFB5; }

/* The Founder */
.the-founder {
  padding-bottom: 60px; }
  .the-founder .field-name-field-basic-image {
    float: right;
    width: 40%;
    margin-right: -180px; }
    .the-founder .field-name-field-basic-image img {
      border-radius: 100%; }
  .the-founder .field-name-body {
    float: left;
    width: 60%;
    font-weight: 100;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin-left: 90px;
    color: #58585A;
    line-height: 1.35em;
    /* Founders Links */ }
    .the-founder .field-name-body h2 {
      margin-left: -3px; }
    .the-founder .field-name-body a {
      text-decoration: none;
      color: #58585A; }
      .the-founder .field-name-body a:hover {
        color: #0DAFB5; }
    .the-founder .field-name-body .contact-details {
      float: right;
      margin-right: -330px;
      /* Founder's Website*/ }
      .the-founder .field-name-body .contact-details ul {
        margin-left: -15px;
        margin-top: 10px;
        list-style-type: none;
        padding: 0px; }
        .the-founder .field-name-body .contact-details ul li {
          display: inline;
          padding: 5px; }
          .the-founder .field-name-body .contact-details ul li a {
            color: #086a6e; }
            .the-founder .field-name-body .contact-details ul li a:hover {
              color: #070707; }
      .the-founder .field-name-body .contact-details .founders-website {
        margin-left: -60px;
        font-weight: 800;
        color: #0DAFB5;
        font-family: "Source Sans Pro", sans-serif; }
        .the-founder .field-name-body .contact-details .founders-website a {
          font-weight: normal; }
          .the-founder .field-name-body .contact-details .founders-website a:hover {
            color: #0DAFB5; }

.the-ladies-article .left {
  float: left;
  width: 30%; }
  .the-ladies-article .left .related-posts {
    padding-left: 30px; }
    .the-ladies-article .left .related-posts h2 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 30px;
      font-weight: 400; }

.the-ladies-article .right {
  float: right;
  width: 70%; }
  .the-ladies-article .right h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    font-weight: 400; }
  .the-ladies-article .right .article-body {
    font-weight: 100;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: #58585A;
    line-height: 1.35em;
    padding-top: 10px;
    text-align: justify;
    padding-right: 80px; }
  .the-ladies-article .right .social-links h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    font-weight: 500; }

footer {
  font-size: 12px;
  background: #555555;
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  /* Facebook & Twitter Social Links */
  /* Entity Form */
  /* Footer Navigation */ }
  footer .footer-social-links {
    float: right;
    padding: 0 60px;
    margin-top: -10px; }
    footer .footer-social-links .social-links ul {
      list-style-type: none; }
      footer .footer-social-links .social-links ul li {
        display: inline;
        padding: 5px; }
        footer .footer-social-links .social-links ul li a {
          color: #043c3e;
          text-decoration: none; }
          footer .footer-social-links .social-links ul li a:hover {
            color: #fff; }
  footer .subcription-div h2 {
    font-size: 30px;
    font-weight: 400;
    padding: 0 20px; }
  footer .subcription-div .entitytype-subscribe_to_newsletter-form .pre-instructions {
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
    margin-top: -15px; }
  footer .subcription-div .entitytype-subscribe_to_newsletter-form label {
    font-size: 18px;
    font-weight: 400; }
  footer .subcription-div .entitytype-subscribe_to_newsletter-form input[type="text"] {
    height: 30px;
    width: 75%;
    max-width: 100%; }
  footer .subcription-div .entitytype-subscribe_to_newsletter-form input[type="submit"] {
    height: 37px;
    width: 100px;
    margin-left: -90px;
    margin-top: 32px;
    background-color: #0DAFB5;
    border: 1px solid #0DAFB5;
    color: #fff; }
    footer .subcription-div .entitytype-subscribe_to_newsletter-form input[type="submit"]:hover {
      background-color: #58585A;
      border: 1px solid #58585A;
      color: #0DAFB5; }
  footer .subcription-div .entitytype-subscribe_to_newsletter-form .field-name-field-name {
    float: left;
    width: 40%;
    padding: 0 10px 0 20px; }
  footer .subcription-div .entitytype-subscribe_to_newsletter-form .field-name-field-email {
    float: left;
    width: 40%;
    margin-left: -100px; }
  footer .footer-nav {
    display: block;
    font-size: 14px;
    padding: 60px 0 0 0; }
    footer .footer-nav .left {
      float: left;
      margin-left: 22px;
      margin-top: -30px; }
      footer .footer-nav .left .copy a {
        color: #202020;
        line-height: inherit;
        text-decoration: none; }
        footer .footer-nav .left .copy a:hover {
          color: #0DAFB5; }
    footer .footer-nav .right {
      float: right;
      margin-right: 200px;
      margin-top: -45px; }
      footer .footer-nav .right ul {
        list-style-type: none; }
        footer .footer-nav .right ul li {
          display: inline;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 100;
          padding: 0 10px;
          font-family: 'MuseoSans_Fat';
          border-right: 1px solid #333; }
          footer .footer-nav .right ul li a {
            color: #202020;
            text-decoration: none; }
            footer .footer-nav .right ul li a:hover {
              color: #0DAFB5; }

header .site-logo img {
  padding-top: 10px; }

header {
  /* Menu Bar */ }
  header #block-superfish-1 {
    float: right;
    margin-top: -110px;
    padding-right: 70px; }
    header #block-superfish-1 #superfish-1 li {
      display: inline;
      text-transform: uppercase;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 23px;
      padding: 0 10px; }
      header #block-superfish-1 #superfish-1 li a {
        color: #58585A;
        text-decoration: none; }
        header #block-superfish-1 #superfish-1 li a:hover {
          color: #0DAFB5; }

.pane-views-latest-events-block h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #086a6e;
  color: white;
  padding: 20px;
  position: absolute;
  margin-top: -20px; }

.pane-views-latest-events-block .view-latest-events {
  padding-top: 75px; }
  .pane-views-latest-events-block .view-latest-events .views-row {
    float: left;
    padding: 0 60px; }
    .pane-views-latest-events-block .view-latest-events .views-row .views-field-title {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      font-family: "Source Sans Pro", sans-serif; }
      .pane-views-latest-events-block .view-latest-events .views-row .views-field-title a {
        text-decoration: none;
        color: #58585A; }
    .pane-views-latest-events-block .view-latest-events .views-row .views-field-field-event-image {
      text-align: center;
      padding: 20px 0 20px 0; }
    .pane-views-latest-events-block .view-latest-events .views-row .views-field-field-event-date {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      font-family: "Source Sans Pro", sans-serif;
      padding: 0 0 10px 0; }
    .pane-views-latest-events-block .view-latest-events .views-row .views-field-field-venue {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      font-family: "Source Sans Pro", sans-serif;
      padding: 0 0 60px 0; }

.view-frontpage-slideshow .views-row .views-field-title {
  position: absolute;
  bottom: 35px;
  right: 0px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  background-color: #58585A;
  opacity: 0.5;
  width: 300px;
  height: 28px;
  margin-left: 165px;
  text-transform: uppercase; }
  .view-frontpage-slideshow .views-row .views-field-title span {
    font-size: 20px;
    color: #fff; }

.the-ladies {
  padding-top: 10px; }
  .the-ladies h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #086a6e;
    color: white;
    padding: 20px;
    position: absolute;
    margin-top: 5px; }
  .the-ladies .view-the-ladies {
    text-align: center;
    margin-left: 70px;
    padding-top: 110px; }
    .the-ladies .view-the-ladies .views-row {
      float: left;
      padding: 20px 40px; }
      .the-ladies .view-the-ladies .views-row .views-field-field-lady-image {
        padding-bottom: 10px; }
        .the-ladies .view-the-ladies .views-row .views-field-field-lady-image:hover .overlay {
          opacity: 0.8; }
        .the-ladies .view-the-ladies .views-row .views-field-field-lady-image .overlay {
          background-color: #086a6e;
          top: 140px;
          color: #0DAFB5;
          z-index: 1;
          opacity: 0;
          width: 210px;
          height: 0;
          padding: 100px 45px;
          position: absolute; }
          .the-ladies .view-the-ladies .views-row .views-field-field-lady-image .overlay span {
            background-color: #fff;
            padding: 10px;
            opacity: 0.9;
            font-family: "Source Sans Pro", sans-serif; }
      .the-ladies .view-the-ladies .views-row .views-field-title {
        font-weight: 400;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 18px;
        border: 1px solid #0DAFB5;
        margin-top: -14px;
        padding: 10px; }
        .the-ladies .view-the-ladies .views-row .views-field-title a {
          text-decoration: none;
          color: #0DAFB5; }

/* No files to import found in pages//* */
