// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000;
$white: #fff;
$grey: #ddd;
$charcoal: #555555;
$fourth_color: #58585A;

$green: #54cc61;
$red: #d52a32;
$orange: #eca834;
$blue: #2a6fca;

$body-text: $black;
$text: $body-text;
$body-bg: $white;

$link: $blue;

$border: $black;
$table-border: $border;
$focus-color: $blue;
$focus: $focus-color;


// COMMON COLOURS USED IN THE SITE
// =============================================================================
$primary_color: #0DAFB5;
$secondary_color: #ffffff;
$thelady_smoke_white: #fcfcfc;
$tertiary_color: #ed174f;


// HEADER COLOURS
// =============================================================================
$thelady_menu_item_color: #58585A;
$thelady_menu_items_bgcolor: #0EB2B8;
$thelady_menu_border_left_right: 1px solid #d6d6d6;
$thelady_banner_bgcolor: #593974;


// ALL THE DIFFERENT KINDS OF BORDERS COLOURS USED IN THE SITE
// =============================================================================
$thelady_border_bottom: 1px solid rgba(0,0,0,0.08);
$thelady_border_color: #d6d6d6;
$thelady_form_border_color: #e1e1e1;
$thelady_call_action_bgcolor: #f5f5f5;
$thelady_call_action_btn_box_shadow: 0 2px 1px rgba(0,0,0, .25);
$thelady_fav_border_color: #dddddd;
$thelady_bgcolor1: #F7F7F7;


// COLOURS OF THE HEADINGS AND PARAGRAPHS USED IN THE SITE
// =============================================================================
$thelady_page_headings: #555555;
$thelady_para_color: #cccccc;

$body_background: #0EB2B8;
