/*Set container height/width to 100%*/
html, body {
  width: 100%;
  height: 100%;
  background-color: $body_background;
}

.the-lady-main-div{
  margin: 40px auto;
  max-width: 1280px;
  background: $white;
  box-shadow: rgb(0, 0, 0) 0px 0px 30px;
}
